<h1>All Books</h1>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= (link_to book.title, book_path(book)) + " by " + book.author_f + " " + book.author_l %>
    </li>
  <% end %>
      <%= link_to "Create a New Entry", new_book_path %>
</ul>
