<h1>Catalog Index</h1>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= (link_to book.title, book_path(book), :class => 'book_title') + " by " + book.author_f + " " + book.author_l + " | " + book.genre %>
    </li>
  <% end %>
  <br>
      <%= link_to "Create a New Entry Now", new_book_path, :class => "new_book" %>
</ul>
