html{
  background-color:paleGreen;
}

img#culpeper{
  float:left;
}

#header{
  background-color:yellow;
  padding-bottom:20px;
}

#content{
  height:400px;
  border-style:solid;
  border-width:1px;
  background-color:lightgrey;
  padding-left:200px;
  padding-bottom:20px;
}

#foot{
  background-color:red;
  font-size:smaller;
}

#admin_btn{
  float:right;
}