html{
  #background-color:paleGreen;
}

img#culpeper{
  float:left;
}

.book_cover{
  float:left;
  margin-right:20px;
}

#header{
  background-color:darkOliveGreen;
  padding-bottom:20px;
}

#content{
  height:400px;
  border-style:solid;
  border-width:1px;
  background-color:LightGoldenrodYellow;
  padding-left:200px;
  padding-bottom:20px;
}

#foot{
  background-color:darkOliveGreen;
  font-size:smaller;
}

#admin_btn{
  float:right;
}